<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <title>Check If Too Much</title>
  </head>
  <body ng-app="CheckTooMuchApp">
    <div class="container">
      <h1>Lunch Checker</h1>
      <div ng-controller="CheckTooMuchController">
           <div class="form-group">
             <input id="lunch-menu" type="text"
               placeholder="{{placeholder}}"
               class="form-control" ng-model="lunch">
           </div>
           <p> {{spec}} </p>
           <div class="form-group">
               <button class="btn btn-default" ng-click="checkList()">Check If Too Much</button>
           </div>
           <div class="form-group message">
             <!-- Your message can go here. -->
             {{message}}
           </div>
     </div>

  </body>
</html>
